<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/nav.ejs') %>


    <section class="page-section clearfix">
      <div class="container">
          <div class="intro">
              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
              <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Freshly Baked</span>
                      <span class="section-heading-lower">Delight Every Bite.</span>
                  </h2>
                  <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                  <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
              </div>
          </div>
      </div>
  </section>
  <section class="page-section cta">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                  <div class="cta-inner bg-faded text-center rounded">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Our Promise</span>
                          <span class="section-heading-lower">To You</span>
                      </h2>
                      <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <%- include('./partial/footer.ejs') %>

    
</body>
</html>